body {
    font-family: Arial, sans-serif;
    background-image: url("images/Pes_University.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background: rgba(255, 255, 255, 0.92); /* transparent white */
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

ul {
    margin-top: 15px;
    list-style: none;
    padding: 0;
}

li {
    background: #e9ecef;
    padding: 8px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

